@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?taw0jt');
  src:  url('fonts/icomoon.eot?taw0jt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?taw0jt') format('truetype'),
    url('fonts/icomoon.woff?taw0jt') format('woff'),
    url('fonts/icomoon.svg?taw0jt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\21";
}
.icon-finder:before {
  content: "\22";
}
.icon-windows:before {
  content: "\23";
}
.icon-android:before {
  content: "\24";
}
.icon-apple:before {
  content: "\25";
}
.icon-download:before {
  content: "\26";
}
.icon-tutorial:before {
  content: "\27";
}
.icon-placard:before {
  content: "\28";
}
.icon-freeze:before {
  content: "\29";
}
.icon-restore:before {
  content: "\2a";
}
.icon-announcement:before {
  content: "\2b";
}
.icon-income:before {
  content: "\2c";
}
.icon-people:before {
  content: "\2d";
}
.icon-quit:before {
  content: "\2e";
}
.icon-message:before {
  content: "\2f";
}
.icon-settlement:before {
  content: "\30";
}
.icon-post:before {
  content: "\31";
}
.icon-note:before {
  content: "\32";
}
.icon-copy:before {
  content: "\33";
}
.icon-ccount-information:before {
  content: "\34";
}
.icon-detail:before {
  content: "\35";
}
.icon-home:before {
  content: "\36";
}
.icon-lightning:before {
  content: "\37";
}
.icon-route:before {
  content: "\38";
}
.icon-member:before {
  content: "\39";
}
.icon-buy:before {
  content: "\3a";
}
.icon-account:before {
  content: "\3b";
}
.icon-rocket:before {
  content: "\3c";
}
.icon-menu:before {
  content: "\3d";
}
